
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: burlywood;
  color: #333;
  margin: 0;
}

/* Navigation bar */
nav {
  background: #4b3626;
  color: #fff;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Blog post container */

.container {
  max-width: 3000px;
  margin: 100px auto;
  padding: 0 20px;
  text-box-edge: black;
  display: grid;
  border-radius: 20px;
  justify-content:space-evenly;
  background-color: burlywood;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


/* @media (max-width: 992px) {*/
.post {
  background: #4b3626;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #f9f9f9;
  transform: scale(1.2) rotateX('45');
  cursor: pointer;
  overflow: hidden;

  /* Animation start */
  opacity: 0.8;
  transform: translateY(40px);
  transition: all 0.7s ease-out;
}
 

.post {
  transition: transform 0.4s ease;
  transform: scale(1);
}

.post:hover {
  transform: scale(1.12);
}



.post img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.4s ease;
}

.coffee-footer {
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #4b3626;
  color: #f9f9f9;
}

.footer-social {
flex: 1;
min-width: 280px;
text-align: right;


}

.footer-social a {
  font-size: 30px;
  margin-right: 60px;
  color: black;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer-brand {
  width: 50px;
  height: 50px;
}

.footer-contact {
  display: block;
}

.footer-newsletter {
  flex: 1;
  min-width: 280px;
}

/*mobile: stack them vertically*/
@media (max-width:768px) {
  .coffee-footer{
    flex-direction: row;
  }
  .footer-social{
    text-align: left;
  }
  .footer-social a{
    justify-content: flex-end;
  }
}







    
